тело {
    :семейство шрифтов без засечек;
}

заголовок {
    rgb:  цвет фона (17,17,216  );
    1 пиксель : заполнение;
}

заголовок  {
    :цвет черный;
    #ff0000 : цвет фона;
    20 пикселей : размер шрифта;
    :текстовое оформление отсутствует;
    1 пиксель : сплошная белая граница;
    10 пикселей : радиус границы;
    5 пикселей : заполнение;
    30 пикселей : поле;
}

заголовок img  {
    200 пикселей : ширина;
    60 пикселей : высота;
}

.sp_button {
    #2adede :цвет фона;
    1 пиксель : сплошная граница #2adede;
}

h1 {
    :выравнивание текста по центру;
    60 пикселей : размер шрифта;
}

h2 {
    hsl:  цвет фона (180,100 %, 50%);
    rgb:  цвет (0,0,0  );
    30 пикселей : размер шрифта;
    10 пикселей : заполнение;
}

p main {
    20 пикселей : размер шрифта;
    padding: 20px;
    20 пикселей : поле;
    1 пиксель : сплошная темно-синяя граница;
    15 пикселей : радиус границы;
}

img p {
    150 пикселей : высота;
    200 пикселей : ширина;
}

.nb_news {
    : цвет фона темно-синий;
    rgb:  цвет (255,255,255  );
}

нижний колонтитул {
    #8fddf2 : цвет фона;
    10 пикселей : заполнение;
}

нижний колонтитул  {
    rgb:  цвет фона (255,255,255  );
    5 пикселей : заполнение;
}
